databaseName: r8s
modularDatabaseName: r8s
innerCacheTTLSeconds: '300'

service:
  type: ClusterIP
  port: 8000
  nodePort: 32106

image:
  repository: public.ecr.aws/x4s4z8e1/rightsizer
  tag: awsmp
  pullPolicy: Always

replicas: 1
strategy:
  type: RollingUpdate
  maxUnavailable: 0
  maxSurge: 100%

mongoService: mongo
mongoPort: 27017
vaultService: vault
vaultPort: 8200
minioService: minio
minioPort: 9000

vault:
  enabled: true
  fullnameOverride: vault
minio:
  enabled: true
  fullnameOverride: minio
  service:
    type: NodePort
mongo:
  enabled: true
  fullnameOverride: mongo
modular-service:
  enabled: true
  fullnameOverride: modular-service
  databaseName: r8s
  modularSdk:
    databaseName: r8s
modular-api:
  enabled: true
  fullnameOverride: modular-api
  disableRateLimiter: "true"
  image:
    tag: 4.2.10-rightsizer
metric-collector:
  enabled: true
  fullnameOverride: metric-collector

modularSdk:
  logLevel: WARNING

  serviceMode: docker
  dbBackend: ''
  modular_secrets_service_mode: 'docker' # saas for SSM, docker for Vault same env as MODULAR_SDK_SECRETS_BACKEND

  # for "mongo" dbBackend
  mongoUri:
  databaseName: r8s

  # for "dynamo" dbBackend
  awsRegion:
  assumeRoleArn:

rightsizer:
  service_mode_s3: docker