# Load all docker requirements
-r requirements.txt

# Install modular-sdk
modular-sdk>=8.0.0,<9

# Install tests requirements
matplotlib>=3.11.0
pytest>=9.0.2
mongomock==4.3.0
pytest-cov>=6
pyflakes==2.4.0
coverage>=7.5.0
tox==4.4.6
pandas>=2.2,<3
