modular-sdk @ git+https://github.com/epam/modular-sdk@2904a0d9532817b960ef076a5fe240c7ef50d359
boto3==1.36.11
botocore==1.36.11
certifi==2023.7.22
cffi==1.15.1
cryptography==41.0.3
dnspython==2.4.2
dynamodb-json~=1.4.2
mongoengine==0.29.1
oauthlib==3.2.2
pymongo==4.11.2
pynamodb>=5.5.1,<6
requests==2.31.0
typing_extensions==4.7.1
pycryptodome==3.19.0